<div *ngIf="repositories.length > 0; else noRepo">
  <h5 class="mt-4">Lasted Repos</h5>
  <hr>
</div>
<ng-template #noRepo>
  <div class="alert alert-info" role="alert">
    {{ user.name }} has no repositories.
  </div>
</ng-template>

<div *ngFor="let repo of repositories">
  <div *ngIf="repositories">
    <div class="card mt-3">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-8">
            <h5>{{ repo.name }}:</h5>
            <p>{{ repo.description }}</p>
          </div>
          <div class="col-lg d-flex justify-content-between">
            <div class="col-7 d-inline">
              <span class="badge bg-dark repo-badge">Forks: {{ repo.forks }}</span>
              <span class="badge bg-danger repo-badge">Watchers: {{ repo.watchers }}</span>
              <span class="badge bg-success repo-badge">Stars: {{ repo.stargazers_count }}</span>
            </div>
            <div class="col d-flex align-items-end flex-column">
              <a href="{{ repo.url }}" type="button" class="btn btn-warning btn-sm btn-block">Repo page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
