<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
  <a class="navbar-brand" href="#">Github Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Search Github Users</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container-fluid content-page px-5 py-4">
  <h2>Search Github Users</h2>

  <form>
    <div class="form-group ">
      <label for="usernameInput">Enter a username to fetch a users profile info and repositories</label>
      <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp" placeholder="Enter username">
    </div>
  </form>

  <div class="card my-3">
    <div class="card-header">
      Szymon Wiergowski
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col d-flex flex-column">
          <img src="//src/assets/img/Profile-picture.jpg" class="img-fluid img-thumbnail mb-2 profile-image" alt="Profile picture">
          <button href="#" type="submit" class="btn btn-warning btn-sm btn-block mb-3">Profile</button>
        </div>
        <div class="col-lg-9 col-sm-6 mb-3">
          <span class="badge bg-dark">Public Repos: 43</span>
          <span class="badge bg-danger">Public Gists: 0</span>
          <span class="badge bg-success">Followers: 380</span>
          <span class="badge bg-primary">Following: 0</span>
        </div>
        <div class="col-lg-9">
          <ul class="list-group">
            <li class="list-group-item">Company: AdvanFile</li>
            <li class="list-group-item">Website/Blog: szymon-kodzi.com</li>
            <li class="list-group-item">Location: Reda</li>
            <li class="list-group-item">Member Since: 2019-09-24</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <h5 class="mt-4">Lasted Repos</h5>
  <hr>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8">
          <h5>Todo app:</h5>
          <p>Todo application. After registration, the user can add a task, mark that it is done, delete, and modify. (used: React.js, React-Router, Redux, hooks, firebase).    </p>
        </div>
        <div class="col-lg d-flex justify-content-between">
          <div class="col-7 d-inline">
            <span class="badge bg-dark">Forks: 2</span>
            <span class="badge bg-danger">Watchers: 9</span>
            <span class="badge bg-success">Stars: 8</span>
          </div>
          <div class="col d-flex align-items-end flex-column">
            <button href="#" type="submit" class="btn btn-warning btn-sm btn-block">Repo page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8">
          <h5>DRINK APP:</h5>
          <p>The 4-person team project was created in Infoshare Academy. Application helps prepare a drink for the user from the products he has. The user can add new drinks and register on the firebase platform, as well as find the location of the selected store on google map (used: React.js, firebase, google map).</p>
        </div>
        <div class="col-lg d-flex justify-content-between">
          <div class="col-7 d-inline">
            <span class="badge bg-dark">Forks: 2</span>
            <span class="badge bg-danger">Watchers: 9</span>
            <span class="badge bg-success">Stars: 8</span>
          </div>
          <div class="col d-flex align-items-end flex-column">
            <button href="#" type="submit" class="btn btn-warning btn-sm btn-block">Repo page</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
