<div class="card my-3">
  <div class="card-header">
    {{ user.name }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col d-flex flex-column">
        <img  src="{{ user.avatar_url }}" class="img-fluid border rounded-circle mb-2">
        <a href="{{ user.url }}" type="button" class="btn btn-warning btn-sm btn-block mb-3">Profile</a>
      </div>
      <div class="col-md-10">
        <div class="d-block col-md-12 mb-3">
          <span class="badge bg-dark repo-badge">Public Repos: {{ user.public_repos }}</span>
          <span class="badge bg-danger repo-badge">Public Gists: {{ user.public_gists }}</span>
          <span class="badge bg-success repo-badge">Followers: {{ user.followers }}</span>
          <span class="badge bg-primary repo-badge">Following: {{ user.following }}</span>
        </div>
        <div class="d-block col-md-12">
          <ul class="list-group">
            <li class="list-group-item">Company: {{ user.company }}</li>
            <li class="list-group-item">Website/Blog: {{ user.blog }}</li>
            <li class="list-group-item">Location: {{ user.location }}</li>
            <li class="list-group-item">Member Since: {{ user.created_at | date }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
